@mixin flexProps{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@mixin commonFontCode($par1,$par2) {
    color: $bg-color;
    font-size: 5rem+5rem;
    letter-spacing: $par1;
    text-transform: $par2;
    cursor: pointer;
}